.env
.env.backup
.env.backup.*

.idea
.vscode
.eclipse

.venv
__pycache__

.swc
*/.swc
**/.swc/**

.npmrc

artifacts
artifacts/*
artifacts/**

node_modules
node_modules/*
node_modules/**

distribution
distribution/*
distribution/**

declarations
declarations/*
declarations/**

.terraform/*

*.tfstate
*.tfstate.*

cdktf.out
cdktf.out/*
cdktf.out/**

*.js
**/*.js
**/*.map
**/*.d.ts

.DS_Store

*.tgz
*.zip

coverage

*.tsbuildinfo
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

*.log

openapitools.json

*.pem
**/*.pem

!packages/documentation
!packages/documentation/.docusaurus
!packages/documentation/**/*.js

front-end

data-dump

us-east-2-bundle.pem

router.cache.json
node-file-tree.json

repositories-file-tree.json
**/repositories-file-tree.json

repositories-data.json
**/repositories-data.json

repositories-data.recursive.json
**/repositories-data.recursive.json

repositories-data.non-recursive.json
**/repositories-data.non-recursive.json

Users.*.json
**/Users.*.json